{{>menu}}
<div class="content-cart">
  {{#if carrinho.vazio}}
  <div class="vazio">
    <img src="/images/carrinho-vazio.png" alt="" />
    <p>
      Seu carrinho está vazio...
    </p>
  </div>
  {{else}}
  <h2>
    Carrinho de Compras
  </h2>
  <div class="main-cart">
    <div class="header-cart">
      <span id="prd">
        Produto
      </span>
      <span id="qtde">
        Quantidade
      </span>
      <span id="pre">
        Preço
      </span>
      <span id="sub">
        Subtotal
      </span>
    </div>
    {{#each carrinho.results }}
    <div class="produto" id="prod{{@index}}">
      <div class="img-produto">
        <img src="{{Path}}" alt="" srcset="" />
      </div>
      <div class="info-produto">
        <span>
          Descrição: {{Produto}}
        </span>
        {{#if IsSize}}
        <div class="centralize">
          <span class="tamanho">
            Tamanho:
            <div class="fk" id="{{@index}}">
              <div class="size click-size" id="div-size{{@index}}">
                <span id="Size{{Id}}">
                  {{Size}}
                </span>
              </div>
            </div>
          </span>
          <div id="btns{{Id}}" class="sizes" mob="{{IdProduto}}" name="{{Id}}">
            {{#each Sizes}}
            <div id="{{id}}">
              <div class="size">
                <p id="btn_click_size" class="btn_size">
                  {{item}}
                </p>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
        {{{MaiorQue Estoque 0}}}
      </div>
      <div class="infos">
        <div class="div-box">
          <div id="{{@index}}" class="alter-btn">
            <i id="down{{@index}}" name={{IdProduto}} class="down fas fa-chevron-down"></i>
            <div class="spand">
              <span id="span{{@index}}">
                {{Quant}}
              </span>
            </div>
            <i id="up{{@index}}" name={{IdProduto}} class="up fas fa-chevron-up"></i>
          </div>
          <div id="load-event{{@index}}" class="load-event loadingio-spinner-spinner-u1vmkpvt7y9">
            <div class="ldio-stnjk7s33g7">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="infos">
        <span id="preco{{@index}}">
          R$ {{Preco}}
        </span>
      </div>
      <div class="info-sub">
        <div class="subtotal">
          <span class="spantotal" id="total{{@index}}">
            R$ {{Total}}
          </span>
        </div>
      </div>
      <div class="infotrash">
        <span>
          <i id="delete{{@index}}" mob="{{IdProduto}}" class="delete-btn fas fa-trash-alt"></i>
        </span>
      </div>
    </div>
    {{/each}}
    <div class="linha"></div>
    <div class="btn-limpar-cart">
      <button id="delete-all" type="button" class="delete-all button roxo m-">
        <span class="button__text">
          Limpar Carrinho
        </span>
        <span class="button__icon">
          <i class="fas fa-cart-arrow-down"></i>
        </span>
      </button>
    </div>
    <div class="checkout">
      <div class="checkout-info">
        <div class="utils">
          <div class="content-utils">
            <div class="sub-utils">
              <input id="inpcup" type="text" class="input-cep" placeholder="OTAKU30" />
              <button type="button" class="button roxo m-">
                <span id="btn_resgatar" class="button__text">
                  Resgatar
                </span>
                <span class="button__icon">
                  <i class="fas fa-ticket-alt"></i>
                </span>
              </button>
              <div id="load-cupom" class="load-cupom">
                <img src="/images/load-carrinho.gif" alt="" srcset="">
              </div>
            </div>
            <span id="status-cupom"></span>
          </div>
          <div class="content-utils">
            <div class="sub-utils">
              <input id="inpfrete" type="text" class="input-cep" placeholder="Cep" />
              <button type="button" class="button roxo m-">
                <span id="calcep" class="button__text">
                  Calcular
                </span>
                <span class="button__icon">
                  <i class="fas fa-truck"></i>
                </span>
              </button>
              <div id="load-frete" class="load-frete">
                <img src="/images/load-carrinho.gif" alt="" srcset="">
              </div>
            </div>
            <small>
              *Somente números
            </small>
            <span id="status-frete"></span>
          </div>
          <div id="sedex" class="frete">
            <div class="frete-title">
              <i class="fas fa-truck"></i>
              <span>
                FRETE:
              </span>
            </div>
            <div class="main-frete">
              <input type="radio" name="" id="radio-frete" />
              <span id="tipo-frete">
                Sedex
              </span>
              <span id="prazo-frete"></span>
              <span id="preco-frete"></span>
            </div>
          </div>
        </div>
        <div class="precos">
          <div class="precos-header">
            <div class="content-precos">
              <div class="space">
                <span id="ctp-tittle">
                  Subtotal
                </span>
              </div>
              <span class="calc-total" id="pr">
                R$ {{carrinho.total}}
              </span>
            </div>
            <div class="content-precos">
              <div class="space">
                <span id="ctp-tittle">
                  Frete
                </span>
              </div>
              <span class="calc-total" id="fr">
                R$ 0,00
              </span>
            </div>
            <div class="content-precos">
              <div class="space">
                <span id="ctp-tittle">
                  Cupons
                </span>
              </div>
              <span class="calc-total" id="cup">
                R$ 0,00
              </span>
            </div>
            <div class="linha" id="tot">
            </div>
            <div class="content-precos">
              <div class="space">
                <span id="ctp-tittle">
                  Total
                </span>
              </div>
              <span id="totg">
                R$ {{carrinho.total}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-btn">
        <button id="mais-produtos" type="button" class="button red m- left">
          <span class="button__text">
            Escolher mais produtos
          </span>
          <span class="button__icon">
            <i class="fas fa-cart-plus"></i>
          </span>
        </button>
        <button id="fCompra" type="button" class="button green1 m- right">
          <span class="button__text">
            Finalizar Compra
          </span>
          <span class="button__icon">
            <i class="fas fa-check"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
  {{/if}}
</div>
{{>rodape}}